.p-ux-button {
    background-color: var(--p-primary);
    color: var(--p-text-color);
    border: unset;
    padding: 8px 10px;
    height: 30px;
    border-radius: var(--p-border-radius);
}

.p-ux-button:hover {
    background-color: var(--p-primary-active);
    cursor: pointer;
}