.p-copy-pasta-view-wrapper {
    overflow: auto;
    border-radius: var(--p-border-radius-container);
    background-color: var(--p-bg);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.p-copy-pasta-view-wrapper::-webkit-scrollbar {
    display: none;
}



.p-copy-pasta-view {
    display: flex;
    flex-direction: column;
    flex: 1;
}