.p-dialog .p-dialog-content {
    border-radius: var(--p-border-radius-container);
    background-color: var(--p-bg);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.p-dialog .p-dialog-content label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p-dialog .p-dialog-content label .p-hint {
    font-size: 0.8em;
    color: var(--p-text-color-darker);
}
