.p-copy-pasta {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    border-radius: var(--p-border-radius);
    width: 100%;
    overflow: hidden;
}

.p-copy-pasta[data-p-selector-ignore] {
    display: none;
}

.p-copy-pasta:hover {
    cursor: pointer;
}

.p-copy-pasta.selected {
    background-color: #334;
}



.p-copy-pasta span {
    white-space: nowrap;
}

.p-copy-pasta.selected .p-content {
    font-weight: bolder;
}

.p-tags {
    font-size: 0.7em;
}