.p-copy-pasta {
    position: relative;
    padding: 16px;
    width: 100%;
    background-color: transparent;
}

.p-copy-pasta-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    background-color: transparent;
}

.p-copy-pasta[data-p-selector-ignore] {
    display: none;
}

.p-copy-pasta:hover {
    cursor: pointer;
}

.p-copy-pasta .p-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 16px;
    justify-content: end;
    align-items: center;
    display: none;
    background: rgb(55,55,58);
    background: linear-gradient(90deg, rgba(217,217,217,0) 0%, var(--p-bg-active) 100%);
}

.p-copy-pasta.selected {
    background-color: var(--p-bg-active);
}

.p-copy-pasta.selected .p-abs {
    display: flex;
}



.p-copy-pasta span {
    white-space: nowrap;
}

.p-copy-pasta.selected .p-content {
    font-weight: bolder;
}

.p-tags {
    font-size: 0.7em;
}