.p-key-cap {
    --p-key-cap-color: var(--p-text-color);

    background-color: var(--p-key-cap-color);
    color: var(--p-key-cap-color);
    border-radius: 4px;
    width: fit-content;
    padding: 1px 2px 4px 2px;
}

.p-key-cap.pressed {
    padding-bottom: 2px;
    margin-top: 2px;
}

.p-key-cap-inner {
    padding: 2px;
    font-size: 0.6em;
    border-radius: 2px;
    background-color: var(--p-bg);
    text-align: center;
}

.p-key-cap.letter .p-key-cap-inner {
    width: 2em;
}

.p-key-cap.medium .p-key-cap-inner {
    width: 32px;
}

.p-key-cap.long .p-key-cap-inner {
    width: 48px;
}

.p-key-cap.extra-long .p-key-cap-inner {
    width: 92px;
}